version: "3.8"

services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.12.2
    container_name: elk-elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
    ports:
      - "9200:9200"
    volumes:
      - es-data:/usr/share/elasticsearch/data

  kibana:
    image: docker.elastic.co/kibana/kibana:8.12.2
    container_name: elk-kibana
    depends_on:
      - elasticsearch
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
      - "5601:5601"

  logstash:
    image: docker.elastic.co/logstash/logstash:8.12.2
    container_name: elk-logstash
    depends_on:
      - elasticsearch
    ports:
      - "5044:5044"   # TCP input (changed from 5000 to avoid k8s conflict)
      - "9600:9600"   # Logstash monitoring API
    environment:
      - XPACK_MONITORING_ENABLED=false
      - PIPELINE_WORKERS=1
    command: >
      logstash -e '
        input {
          tcp {
            port => 5044
            codec => json_lines
          }
        }
        output {
          elasticsearch {
            hosts => ["http://elasticsearch:9200"]
            index => "fluxgate-logs-%{+YYYY.MM.dd}"
          }
        }
      '

volumes:
  es-data:
