version: "3.8"

services:
  redis-cluster:
    image: grokzen/redis-cluster:7.0.10
    container_name: redis-cluster-test
    environment:
      IP: 0.0.0.0
      INITIAL_PORT: 7100
    ports:
      - "7100-7105:7100-7105"
